<div class="inner">
    <div class="custom-social-buttons">
        <div class="share-buttons-label">
            <span>Tell your friends</span>
        </div>
        <div class="custom-social-button twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"
               data-via="locopfitzer">Tweet</a>
        </div>
        <div class="custom-social-button linkedin">
            <script type="IN/Share" data-counter="right"></script>
        </div>
        <div class="custom-social-button googleplus">
            <div class="g-plus" data-action="share"></div>
        </div>
    </div>
</div>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
</script>
